* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background:rgba(0,0,0,0.8);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}



h1 {
  margin: 32px 0;
  background: linear-gradient(to top, rgb(227, 210, 13), rgb(10, 218, 65));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
  font-size: 24px;
}
h2 {
  margin: 32px 0;
  background: linear-gradient(to top, rgb(0, 255, 255), rgb(0, 30, 255));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
  font-size: 24px;
}


.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0ccaff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  
  background-image: linear-gradient( 68.6deg,  rgba(79,183,131,1) 14.4%, rgba(254,235,151,1) 92.7% );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}


.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
@media (max-width: 480px) {
  .todo-app {
    width: 100%;
    min-height: auto;
    margin: 16px 0;
  }

  h1, h2 {
    font-size: 18px;
    margin: 24px 0;
  }

  .todo-input {
    width: calc(100% - 70px);
    padding: 12px 14px;
  }

  .todo-button {
    padding: 12px;
  }

  .todo-row {
    width: 98%;
    padding: 10px;
  }
}